In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [78]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,3.0,5.0,10.0,16.0,0.0,15.0,19.0,19.0,10.0,7.0,3.0,16.0,19.0,5
1,7.0,6.0,10.0,11.0,2.0,0.0,4.0,2.0,17.0,8.0,3.0,17.0,11.0,4
2,5.0,16.0,18.0,15.0,2.0,9.0,15.0,15.0,0.0,16.0,5.0,1.0,14.0,8
3,0.0,11.0,17.0,11.0,14.0,4.0,3.0,17.0,10.0,6.0,5.0,6.0,10.0,7
4,4.0,17.0,6.0,3.0,6.0,13.0,1.0,16.0,8.0,5.0,7.0,19.0,4.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,4.0,1.0,14.0,18.0,10.0,8.0,2.0,3.0,5.0,18.0,2.0,0.0,12.0,9
29996,13.0,11.0,3.0,5.0,1.0,11.0,16.0,5.0,1.0,7.0,16.0,13.0,4.0,0
29997,6.0,0.0,12.0,5.0,17.0,2.0,16.0,0.0,11.0,16.0,2.0,9.0,17.0,7
29998,6.0,15.0,6.0,15.0,0.0,11.0,18.0,0.0,0.0,4.0,18.0,9.0,9.0,1
29999,16.0,18.0,16.0,0.0,17.0,10.0,8.0,17.0,4.0,16.0,9.0,4.0,6.0,2

In [77]:
rows = 30000
cols = 13
data = np.empty((rows, cols+1))

for i in range(rows):
    for j in range(cols):
        data[i,j] = np.random.randint(20)
    data[i, cols] = int(np.random.randint(10))
    

df = pd.DataFrame(data)
df[cols] = df[cols].astype('int32')
df.to_csv('synthetic.csv', index=False, header=False)

In [7]:
text = """5.5,2.4,3.7,1,2
5.1,3.8,1.5,.3,1
5.9,3,5.1,1.8,3
7.7,2.6,6.9,2.3,3
5.1,3.5,1.4,.2,1
5.4,3.7,1.5,.2,1
5.1,3.5,1.4,.3,1
5.6,3,4.1,1.3,2
4.5,2.3,1.3,.3,1
7,3.2,4.7,1.4,2
5.2,3.4,1.4,.2,1
6.7,3,5.2,2.3,3
4.6,3.2,1.4,.2,1
4.9,3.1,1.5,.2,1
6,2.9,4.5,1.5,2
5.2,3.5,1.5,.2,1
6.4,3.1,5.5,1.8,3
6,2.7,5.1,1.6,2
6.3,2.8,5.1,1.5,3
5.6,2.5,3.9,1.1,2
5,3,1.6,.2,1
6,2.2,4,1,2
5.5,2.3,4,1.3,2
5.6,2.8,4.9,2,3
5.8,4,1.2,.2,1
4.9,3,1.4,.2,1
4.8,3.1,1.6,.2,1
5.4,3.4,1.7,.2,1
6.3,3.4,5.6,2.4,3
5,3.3,1.4,.2,1
4.9,3.6,1.4,.1,1"""

print("text")

text

In [8]:
dataset = [list(map(lambda x: str(float(x)), row.split(",")))[:-1] for row in text.split("\n")]

rust_dataset = "vec!["
for row in dataset:
    rust_dataset += ",".join(row) + ","
    
rust_dataset = rust_dataset.rstrip(",") + "]"
print(rust_dataset)

vec![5.5,2.4,3.7,1.0,5.1,3.8,1.5,0.3,5.9,3.0,5.1,1.8,7.7,2.6,6.9,2.3,5.1,3.5,1.4,0.2,5.4,3.7,1.5,0.2,5.1,3.5,1.4,0.3,5.6,3.0,4.1,1.3,4.5,2.3,1.3,0.3,7.0,3.2,4.7,1.4,5.2,3.4,1.4,0.2,6.7,3.0,5.2,2.3,4.6,3.2,1.4,0.2,4.9,3.1,1.5,0.2,6.0,2.9,4.5,1.5,5.2,3.5,1.5,0.2,6.4,3.1,5.5,1.8,6.0,2.7,5.1,1.6,6.3,2.8,5.1,1.5,5.6,2.5,3.9,1.1,5.0,3.0,1.6,0.2,6.0,2.2,4.0,1.0,5.5,2.3,4.0,1.3,5.6,2.8,4.9,2.0,5.8,4.0,1.2,0.2,4.9,3.0,1.4,0.2,4.8,3.1,1.6,0.2,5.4,3.4,1.7,0.2,6.3,3.4,5.6,2.4,5.0,3.3,1.4,0.2,4.9,3.6,1.4,0.1]

In [9]:
labels = [t[-1] for t in text.split("\n")]
rust_vector_labels = "vec![" + ",".join(labels)+ "]"
print(rust_vector_labels)

vec![2,1,3,3,1,1,1,2,1,2,1,3,1,1,2,1,3,2,3,2,1,2,2,3,1,1,1,1,3,1,1]